<div class="container">
    <h2>Card 3</h2>
    <hr class="divider-styled" />
</div>
<div class="col-md-4 col-sm-4 col-xs-12 fullsize">
        <div class="card zoom-wrap">
                <div class="card-img-2 panel-image sunset-bg"></div>  
                <div class="card-block text-left background-zoom overlay-back">
                     <h4 class="card-title">Card title</h4>
                     <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue est, sollicitudin nec turpis quis, suscipit facilisis sem.</p>
                     <a href="#" class="btn btn-success">Go somewhere</a>
                </div>
         </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 fullsize">
         <div class="card zoom-wrap">
                 <div class="card-img-2 panel-image blowing-snow-bg"></div>  
                 <div class="card-block text-center background-zoom overlay-back">
                      <h4 class="card-title">Card title</h4>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue est, sollicitudin nec turpis quis, suscipit facilisis sem.</p>
                      <a href="#" class="btn btn-success">Go somewhere</a>
                 </div>
          </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 fullsize">
         <div class="card zoom-wrap">
                 <div class="card-img-2 panel-image snowy-road-bg"></div>  
                 <div class="card-block text-right background-zoom overlay-back">
                      <h4 class="card-title">Card title</h4>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue est, sollicitudin nec turpis quis, suscipit facilisis sem.</p>
                      <a href="#" class="btn btn-success">Go somewhere</a>
                 </div>
          </div>
    </div>



    <link rel="stylesheet" href="/css/card3.css">
