   <div class="col-md-12">
        <h2>Card 2</h2>
        <hr class="divider-styled" />
   </div>
   
   <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="card">
                <div class="card-img-1-2 panel-image"></div>
                <div class="card-block text-left">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue est, sollicitudin nec turpis quis, suscipit facilisis sem.</p>
                    <a href="#" class="btn btn-success">Go somewhere</a>
                </div>
            </div>
        </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="card">
            <div class="card-img-1-2 panel-image"></div>
            <div class="card-block text-center">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue est, sollicitudin nec turpis quis, suscipit facilisis sem.</p>
                <a href="#" class="btn btn-success">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="card">
            <div class="card-img-1-2 panel-image"></div>
            <div class="card-block text-right">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin augue est, sollicitudin nec turpis quis, suscipit facilisis sem.</p>
                <a href="#" class="btn btn-success">Go somewhere</a>
            </div>
        </div>
    </div>



<link rel="stylesheet" href="/css/card2.css">
