<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title>
        
        {{> ref}}
    </head>

    <body>
        {{> header}}
        <div class="container">

            <h5>This is the content of the About Page.</h5>


            {{> footer}}
        </div>
    </body>


</html>