<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title>
        
        {{> ref}}
    </head>


    <body>
        {{> header}}
        <div class="container">
            {{> card1}}
            {{> card2}}
        </div>
        {{> card3}}
        {{> card4}}
        {{> footer}}
    </body>

    <style>
        .divider-styled{
            border-top:3px double #8c8b8b;
        }
    </style>
</html>