<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title>

        {{> ref}}
    </head>

    <body>
        <div class="container">
            {{> header}}

            {{> nav}}

            <h5>This is the content of the Contact Page.</h5>


            {{> footer}}
        </div>


        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/contact.js"></script>
        
    </body>


</html>