<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title>
        
        {{> ref}}
    </head>


    <body>
        {{> header}}
        <div class="container">
            
            <h1>New Homepage</h1>

            
        </div>
        {{!-- {{> footer}} --}}
    </body>


</html>