<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title>
        
        {{> ref}}
    </head>


    <body>
        {{> header}}
        <div class="container">
            
<<<<<<< HEAD
=======
            <h1>New Homepage</h1>

>>>>>>> b2b63c6a904a210330baad0bdfc9ead25856416a
            
        </div>
        {{> footer}}
    </body>


</html>