<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Website Under Construction</title>
        
        {{> ref}}
    </head>


    <body>
        <div class="container">
            <h2>Website is currently under going maintenance.</h2>
            <h4>{{message}}</h4>

        </div>
    </body>


</html>